@import "tailwindcss";

@theme {
  /* Réinitialisation des points de rupture */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

@layer components {
  .container-custom {
    /* Marges automatiques pour centrer, padding horizontal de 0.75rem et largeur de base de 100vw*/
    @apply mx-auto px-3 w-full;

    /* Pour les écrans ≥ 576px, largeur maximale de 540px */
    @apply sm:max-w-[540px];

    /* Pour les écrans ≥ 768px, largeur maximale de 720px */
    @apply md:max-w-[720px];

    /* Pour les écrans ≥ 992px, largeur maximale de 960px */
    @apply lg:max-w-[960px];

    /* Pour les écrans ≥ 1200px, largeur maximale de 1140px */
    @apply xl:max-w-[1140px];

    /* Pour les écrans ≥ 1400px, largeur maximale de 1320px */
    @apply 2xl:max-w-[1320px];
  }

  .section {
    /* Hauteur minimale de 100vh */
    @apply min-h-screen;

    /* Padding vertical de base de 5rem */
    @apply py-20;

    /* Pour les écrans ≥ 768px, padding vertical de 7.5rem */
    @apply md:py-[7.5rem];
  }
}

@import "./components/navbar/Navbar.module.css";
@import "./components/home/Home.css";
@import "./components/about/About.css";
@import "./components/skills/Skills.css";
@import "./components/projects/Projects.css";
